<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms Page</title>
</head>
<body>
    {% comment %} ---------viewsible data Filed--------- {% endcomment %}
    {% comment %} <form action="" method="get">
        <h3>viewsible filed</h3>
        {% for field in st %}
        {{field.label}}
        {% endfor st %}
        <input type="submit" value="Submit" class="">
    </form> {% endcomment %}


    {{st}}
</body>
</html>