<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        th,td{
            border: 1px black solid;
        }
    </style>
</head>
<body>
    <h1>Home Page</h1>
    {{stu}}

    <table>
        {% if stu %}
        <h2>Show Data</h2>
        <tr>
            <th>Student Name</th>
            <th>Student Email</th>
            <th>Student Password</th>
        </tr>

        {% for i in stu %}
        <tr>
            
            <td>{{i.stuname}}</td>
            <td>{{i.stuemail}}</td>
            <td>{{i.stupass}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h2>Empty Data</h2>
        {% endif %}

        


    </table>
</body>
</html>