<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
    <style>
        .success{
            color: red;
        }
    </style>
</head>
<body>
    <h1> Sign Up Forms </h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for forms in from %}
        {{forms.label_tag}} {{forms}} {{forms.errors | striptags}}<br><br>
        {% endfor %}

        {% comment %}----- built-in/hiden error message show ---- {% endcomment %}
        {% if from.non_field_errors %}
        {% for error in from.non_field_errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}

        <input type="submit" value="Submit">
        <a href="{% url 'log_in' %}"><input type="button" value="Login"></a>
    </form>


    {% comment %} Error message Show this code  {% endcomment %}
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <span class = '{{message.tags}}'>{{message}}<br></span>
    {% endif %}
    {% endfor %}
    {% endif %}
</body>
</html>
