<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>

<!-- ------------Simple way show This data Output----------- -->

    {{Name|upper}} <br>
    {{Name|lower}} <br>

<!-- ----------all data show just one line show---------- -->
    
    {% for i in Name %}
    {{i}}
    {% endfor %} <br>

<!-----------Step way one by one data show ----------- -->
    
    {% for i in Name %}
    {{i}} <br>
    {% endfor %} <br>

<!-- -------Reversed this data just use   reversed word ---------- -->
 
<ul>
    {% for i in Name reversed %}
    <li>{{i}} <br></li>
    {% endfor %} <br>
</ul>   
    

 <!-- -------- Using to empty -------- -->
    {% for i in Name %}
    {{i}} <br>
    {% empty %}
    <h3>Data is empty</h3>  <!--just remove function input data--> 
    {% endfor %} <br>
</body>
</html>