<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms Page</title>
</head>
<body>
    <h3>all Code</h3>
    <form action="" method="get">
            {{st}}
        <input type="submit" value="submit">
    </form> 

    <h3>use to table teg</h3>
    <form action="" method="get">
            {{st.as_table}}
        <input type="submit" value="submit">
    </form>

    <h3>use to p teg</h3>
    <form action="" method="get">
        {{st.as_p}}
    <input type="submit" value="submit">
    </form>

    <h3>use to ul teg</h3>
    <form action="" method="get">
        {{st.as_ul}}
    <input type="submit" value="submit">
    </form>

    <h3>use to name</h3>
    <form action="" method="get">
        {{st.name}}
    <input type="submit" value="submit">
    </form>

    <h3>use to email</h3>
    <form action="" method="get">
        {{st.email}}
    <input type="submit" value="submit">
    </form>

</body>
</html>