<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enroll Page</title>
    <style>
        th,td{
            border: 1px black solid;
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>Enroll Page</h1>

    {% if enr %}
    <h2>Show Data</h2>
    {{enr}}
    <br><br>
    <table>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Department</th>
            <th>Address</th>
            <th>Email Address</th>
            <th>Phone Number</th>
        </tr>  

        {% comment %} {% for i in enr %}
        <tr>
            <td>{{i.stid}}</td>
            <td>{{i.name}}</td>
            <td>{{i.department}}</td>
            <td>{{i.address}}</td>
            <td>{{i.email_address}}</td>
            <td>{{i.phone_number}}</td>
        </tr>
        {% endfor %} {% endcomment %}


        {% comment %} Spacific one data show this code is comment one and 
        move to same project views.py file  {% endcomment %}
        <tr>
            <td>{{enr.stid}}</td>
            <td>{{enr.name}}</td>
            <td>{{enr.department}}</td>
            <td>{{enr.address}}</td>
            <td>{{enr.email_address}}</td>
            <td>{{enr.phone_number}}</td>
        </tr>

    </table>

    {% else %}
    <h2>Empty Data</h2>
    {% endif %}
</body>
</html>