<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>Forms Page</title> {% endblock title %}
</head>
<body>
    {% block form %}
    <h1>Use to Get method and all info Visible</h1>
    <h2>Submit Your Data</h2>

    <form action="" method="get">
        {{st.as_p}}
<br> <h4>Your Data not a secure</h4>
        <input type="submit" value="Submit">
    </form>
    {% endblock form %}

</body>
</html>