<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <style>
        .success{
            color: blue;
        }
        
    </style>
</head>
<body>
    <h1>Student Forms</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{st}}
        <input type="submit" value="Submit">
    </form> <br>
    {% if messages %}

    {% comment %} ------ Must be use for loops----- {% endcomment %}
    {% for message in messages %}

    {% comment %} ---- Show message teg ---- {% endcomment %}
    {% if message.tags %} 
    <span class = '{{ message.tags }}'>{{message}}</span>
    {% endif %}
    {% endfor %}
    {% endif %}
</body>
</html>