<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COURSE</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Hi Ther {{course}}</h1>
    <div>
        <img src="{% static 'images/course.jpg'%}" alt="course">
    </div>
    <hr>
    <form action="">
        <input type="button" value="Click Me" onclick="Course()">
    </form>
    <script src="{% static 'js/course.js' %}"></script>
</body>
</html>