<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Forms</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for forms in from %}
        {{forms.label_tag}} {{forms}} {{forms.errors | striptags}}<br><br>
        {% endfor %}

        {% comment %}----- built-in/hiden error message show ---- {% endcomment %}
        {% if from.non_field_errors %}
        {% for error in from.non_field_errors %}
        <p>{{error}}</p>
        {% endfor %}
        {% endif %}

        <input type="submit" value="Login">
        <a href="{% url 'sign_up' %}"><input type="button" value="Signup"></a>
    </form>
    {% comment %} Error message Show this code  {% endcomment %}
</body>
</html>